*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

body {
    margin: 0px;
    padding: 0px;

}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px slid rgb(red, green, blue);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: red;
}

.blog-heading h1 {
    font-size: 3rem;
    color: rgb(255, 0, 0);
    font-weight: 400;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 500px;
    background-color: black;
    border: 1px solid;
    margin: 10px;
}

.blog-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.blog-text span {
    color: white;
    font-size: 0.9rem; 
}

.blog-text p {
    color: red;
    font-size: 1.2rem;
}

.blog-button {
    margin: 10px 10px 20px 20px;
    box-shadow: inset 0px 1px 0px 0px red;
    background: linear-gradient(to bottom, red 5%, rgb(126, 5, 5) 100%);
    background-color: rgb(167, 45, 45);
    border: 1px solid red;
    cursor: pointer;
    font-size: 15px;
    padding: 6px 25px;
    text-shadow: 0px 1px 0px black;
}